#s-34d84083-9b59-432f-a41d-51847340144f > #backgroundBox {
  position: absolute;
}
#s-34d84083-9b59-432f-a41d-51847340144f > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Table_1 {
  position: absolute;
  width: 100.00000000000003%;
  height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Table_1 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #EE7800;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_4 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_4 .verticalalign {
  vertical-align: top;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_4 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_4 {
  width: 33.33333333333333%;
  height: 100.0%;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_1 {
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_1 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_1 {
  width: 59.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_1 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_1 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #A9A9A9;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_5 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_5 .verticalalign {
  vertical-align: top;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_5 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_5 {
  width: 33.33333333333333%;
  height: 100.0%;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_2 {
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_2 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_2 {
  width: 59.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_2 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_2 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #A9A9A9;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_6 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_6 .verticalalign {
  vertical-align: top;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_6 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Cell_6 {
  width: 33.33333333333333%;
  height: 100.0%;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_3 {
  width: 27.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_3 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_3 {
  width: 59.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_3 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_4 {
  position: absolute;
  width: 99.99999999999987%;
  min-height: 53.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_4 {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_4 > .backgroundLayer > .colorLayer {
  background-color: #EE7800;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_5 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_4 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_4 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_5 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_5 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_1 {
  position: absolute;
  width: 338.0px;
  min-height: 53.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_1 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_1 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_6 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_6 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_6 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_7 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_2 {
  position: absolute;
  width: 112.00000000000023px;
  min-height: 55.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 3.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_2 {
  box-shadow: -0.0px 2.0px 7px 0px #999999;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_2 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_2 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_3 {
  position: absolute;
  width: 112.0px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_3 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_4 {
  position: absolute;
  width: 359.9999999999999px;
  min-height: 573.0243867412241px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_4 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(102,102,102,0.5);
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_1 {
  width: 231.0px;
  height: 115.99999999999989px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_1 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_1 > .backgroundLayer {
  border-radius: 26px 26px 26px 26px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #EE7800;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_1 > .borderLayer {
  border-radius: 26px 26px 26px 26px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_1 > .backgroundLayer {
  border-radius: 26px 26px 26px 26px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_8 {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  opacity: 0.24;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_8 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_8 > .backgroundLayer > .colorLayer {
  background-color: rgba(48,48,48,0.73);
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_5 {
  position: absolute;
  width: 229.00000000000006px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_5 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_1 {
  position: absolute;
  width: 117.0px;
  min-height: 49.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Button_1 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_2 {
  position: absolute;
  width: 117.0px;
  min-height: 49.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Button_2 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_6 {
  position: absolute;
  width: 96.111115%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_6 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_6 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #434343;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_6 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_6 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_6 span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #D9D9D9;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_7 {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_7 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_7 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_7 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_8 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_8 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_9 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_9 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_2 {
  width: 305.0px;
  height: 100.0%;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_2 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_8 {
  position: absolute;
  width: 306.0px;
  min-height: 175.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_8 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_8 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-34d84083-9b59-432f-a41d-51847340144f #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Ellipse_1 {
  width: 50.0px;
  height: 50.0px;
  min-height: 50.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Ellipse_1 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-34d84083-9b59-432f-a41d-51847340144f #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-34d84083-9b59-432f-a41d-51847340144f #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_9 {
  position: absolute;
  width: 237.0px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_9 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_9 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_9 {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_9 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_10 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_10 {
  box-shadow: none;
}
 div.relativeLayoutWrapper.s-Group_6 {
  transform: translate(-0.0px, -0.0px);
  width: 306.0px;
  height: 175.0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_10 {
  width: 306.0px;
  min-height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_10 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_10 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_10 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_10 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 26px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_11 {
  position: absolute;
  width: 306.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_11 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_11 span {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 26px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #55585A;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_11 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_11 {
  box-shadow: none;
}
 div.relativeLayoutWrapper.s-Group_7 {
  transform: translate(-0.0px, -369.0px);
  width: 306.0px;
  height: 46.0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_12 {
  position: absolute;
  width: 306.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_12 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_12 span {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 26px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #55585A;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_12 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_12 {
  box-shadow: none;
}
 div.relativeLayoutWrapper.s-Group_8 {
  transform: translate(-0.0px, -231.0px);
  width: 306.0px;
  height: 46.0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_13 {
  position: absolute;
  width: 306.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_13 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_13 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_13 span {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 26px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #55585A;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_13 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_13 {
  box-shadow: none;
}
 div.relativeLayoutWrapper.s-Group_9 {
  transform: translate(-0.0px, -277.0px);
  width: 306.0px;
  height: 46.0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_14 {
  position: absolute;
  width: 306.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_14 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_14 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_14 span {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 26px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #55585A;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_14 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_14 {
  box-shadow: none;
}
 div.relativeLayoutWrapper.s-Group_10 {
  transform: translate(-0.0px, -323.0px);
  width: 306.0px;
  height: 46.0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_15 {
  position: absolute;
  width: 306.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_15 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_15 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_15 span {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 26px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #55585A;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_15 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_15 {
  box-shadow: none;
}
 div.relativeLayoutWrapper.s-Group_11 {
  transform: translate(-0.0px, -415.0px);
  width: 306.0px;
  height: 46.0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_16 {
  position: absolute;
  width: 306.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_16 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_16 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_16 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_16 span {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 26px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #55585A;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_16 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_16 {
  box-shadow: none;
}
 div.relativeLayoutWrapper.s-Group_12 {
  transform: translate(-0.0px, -586.0px);
  width: 306.0px;
  height: 46.0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_10 {
  position: absolute;
  width: 100.0%;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_10 {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_10 > .backgroundLayer > .colorLayer {
  background-color: #EE7800;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_11 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_17 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_17 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_18 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_18 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_17 {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_17 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_17 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_17 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_12 {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_12 {
  box-shadow: none;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-34d84083-9b59-432f-a41d-51847340144f #s-Image_19 {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-34d84083-9b59-432f-a41d-51847340144f #s-Image_19 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-34d84083-9b59-432f-a41d-51847340144f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}