#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c > #backgroundBox {
  position: absolute;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_1 {
  position: absolute;
  width: 99.99999999999987%;
  min-height: 53.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_1 {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_1 > .backgroundLayer > .colorLayer {
  background-color: #EE7800;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_2 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_1 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_1 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_2 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_2 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_3 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_3 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Rectangle_1 {
  position: absolute;
  width: 100.0%;
  min-height: 112.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Rectangle_1 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 21px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Rectangle_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_1 {
  position: absolute;
  width: 80.0px;
  min-height: 36.0px;
  opacity: 0.35;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_1 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_2 {
  position: absolute;
  width: 80.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_2 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_2 span {
  color: #FD9727;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FD9727;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_3 {
  position: absolute;
  width: 80.0px;
  min-height: 36.0px;
  opacity: 0.35;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_3 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_4 {
  position: absolute;
  width: 80.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_4 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_4 span {
  color: #FD9727;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FD9727;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Panel_1 {
  width: 360.0000000000001px;
  height: 572.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Panel_1 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_1 textarea::-webkit-input-placeholder {
  color: #808080;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_1 textarea::-moz-placeholder {
  color: #808080;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_1 textarea:-moz-placeholder {
  color: #808080;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_1 textarea:-ms-input-placeholder {
  color: #808080;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_1 {
  position: absolute;
  width: 95.0%;
  height: 166.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_1 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_1 textarea {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_1 .paddingLayer:first-child {
  padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 5px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #shapewrapper-s-Line_1 marker {
  fill: #757575;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #shapewrapper-s-Line_1 {
  position: absolute;
  width: 342.0000000000001px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Line_1 {
  width: 342.0000000000001px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #757575;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Line_1 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #shapewrapper-s-Line_2 marker {
  fill: #FD9727;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #shapewrapper-s-Line_2 {
  position: absolute;
  width: 342.0000000000001px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Line_2 {
  width: 342.0000000000001px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #FD9727;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Line_2 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_3 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_4 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_5 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_4 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_4 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_5 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_5 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_6 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_6 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_7 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_7 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_8 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_8 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_2 input::-webkit-input-placeholder {
  color: #808080;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_2 input::-moz-placeholder {
  color: #808080;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_2 input:-moz-placeholder {
  color: #808080;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_2 input:-ms-input-placeholder {
  color: #808080;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_2 {
  position: absolute;
  width: 95.0%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_2 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_2 .valign {
  vertical-align: middle;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_2 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Input_2 .paddingLayer:first-child {
  padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 5px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #shapewrapper-s-Line_3 marker {
  fill: #757575;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #shapewrapper-s-Line_3 {
  position: absolute;
  width: 342.0000000000001px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Line_3 {
  width: 342.0000000000001px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #757575;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Line_3 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #shapewrapper-s-Line_4 marker {
  fill: #FD9727;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #shapewrapper-s-Line_4 {
  position: absolute;
  width: 342.0000000000001px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Line_4 {
  width: 342.0000000000001px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #FD9727;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Line_4 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_5 {
  position: absolute;
  width: 107.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_5 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_5 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_5 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_5 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_5 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_9 .imageViewport > * {
  width: 100.0%;
  height: 184.05601387620268%;
  left: -0.0%;
  top: -56.01227340934951%;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_9 {
  position: absolute;
  width: 360.0000000000001px;
  height: 189.08768749620768px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_9 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_6 {
  box-shadow: none;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(102,102,102,0.4);
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 18.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 18.0pt;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_10 {
  position: absolute;
  width: 37.000000000000014px;
  height: 36.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c #s-Image_10 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-67fc8e49-a84f-4f98-bdd0-d76e2fcf767c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
