#s-5ab09672-320b-4d94-9eb0-7258d4973819 > #backgroundBox {
  position: absolute;
}
#s-5ab09672-320b-4d94-9eb0-7258d4973819 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1019.0px;
  max-height: 1337.0px;
}
#s-5ab09672-320b-4d94-9eb0-7258d4973819 #s-Image_1 {
  position: absolute;
  width: 1019.0px;
  height: 1337.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-5ab09672-320b-4d94-9eb0-7258d4973819 #s-Image_1 {
  box-shadow: none;
}
#s-5ab09672-320b-4d94-9eb0-7258d4973819 #s-Hotspot_1 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-5ab09672-320b-4d94-9eb0-7258d4973819 #s-Image_2 .imageViewport > * {
  width: 121.81400688863373%;
  height: 213.95956652399605%;
  left: -5.740528128587858%;
  top: -39.59612057189691%;
}
#s-5ab09672-320b-4d94-9eb0-7258d4973819 #s-Image_2 {
  position: absolute;
  width: 871.0000000000002px;
  height: 753.4133790737562px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-5ab09672-320b-4d94-9eb0-7258d4973819 #s-Image_2 {
  box-shadow: none;
}
#s-5ab09672-320b-4d94-9eb0-7258d4973819 #s-Hotspot_2 {
  position: absolute;
  width: 282.0000000000002px;
  height: 80.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-5ab09672-320b-4d94-9eb0-7258d4973819 #s-Hotspot_3 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5ab09672-320b-4d94-9eb0-7258d4973819 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}