#s-8a598707-b24e-4dfe-ab70-08bc9ea0e53a > #backgroundBox {
  position: absolute;
}
#s-8a598707-b24e-4dfe-ab70-08bc9ea0e53a > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1061.0px;
  max-height: 1612.0px;
}
#s-8a598707-b24e-4dfe-ab70-08bc9ea0e53a #s-Image_1 {
  position: absolute;
  width: 1061.0px;
  height: 1612.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8a598707-b24e-4dfe-ab70-08bc9ea0e53a #s-Image_1 {
  box-shadow: none;
}
#s-8a598707-b24e-4dfe-ab70-08bc9ea0e53a #s-Hotspot_1 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8a598707-b24e-4dfe-ab70-08bc9ea0e53a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}